*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.book-grid{
    margin: 50px;
    display: grid;
	grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 30px;
}

@media screen and (max-width:1024px) {
    .book-grid{
        grid-template-columns: repeat(3,1fr);
       
    }
    
}
@media screen and (max-width:768px) {
    .book-grid{
        grid-template-columns: repeat(2,1fr);
       
    }
    
}
@media screen and (max-width:500px) {
    .book-grid{
        grid-template-columns: repeat(1,1fr);
       
    }
    
}